################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimerFunction/Properties/PublishProfiles
/TextReverser/bin/Debug
/TextReverser/obj
/TextReverser.Tests/bin/Debug/netcoreapp2.2
/TextReverser.Tests/obj
/Reverser/Properties/PublishProfiles
/TextReverser/bin/Release/netcoreapp2.1
/Scripts/.vs/cbbScriptTest
/Scripts/bin
/Scripts/obj
